@import url('https://fonts.googleapis.com/css?family=Acme');

body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}
html,h1,h2,h3,h4,h5,h6,a,p{
	font-family: "Acme";
}
.navbar{
	background:rgba(249,115,0,0.90);
}
.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
    font-size: 16px;
}
.navbar-brand:hover
{
    color:black;
    text-decoration: underline;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	color: black;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}


/*header style*/
.header{
    background-image: url('../images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.45);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    width: 80%;

}
.description h1{
	color:#F97300 ;
    font-size: 5em;
    font-family:"Acme";
    
}
.description h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  
.description h2{
    font-size: 40px;
    font-family:"Acme";
}
.description h3{
    font-size: 30px;
    font-family:"Acme";
}
.description p{
	color:#666;
	font-size: 40px;
	line-height: 1.5;
}
.divider {
    display: flex;
}
.divider:before, .divider:after {
    content: "";
    flex: 1;
}
.donotcross {
    overflow: hidden;
    align-items: center;
    background: #F97300;
    color: black;
    height: 1em;
    line-height: 1em;
}
.donotcross:before, .donotcross:after {
    background: white;
    padding: 30px 0;
    height: 0;
    transform: rotate(45deg);
}



/*about style*/
.about{
	margin: 0 0em 4em 0;
	padding: 1em;
	position: relative;
    font-family:"Acme";
}
.about h1{
	color:#F97300;
	margin: 2em;
}
.about img{
	height: auto;
    max-width: 100%;
    border-radius: 50%
}
.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #F97300;
}
.about .desc h3{
	color: #10828C;
    font-size: 3em;
}
.about .desc p{
	line-height:2;
	color:#888;
    font-size:20px;
}

/*Education style*/
.education{
	margin: 0em 0em 4em 0;
	padding: 1em;
	position: relative;
    font-family:"Acme";
}
.education h1{
	color:#F97300;
	margin: 2em;
}
.education span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.education .desc{
	padding: 2em;
	border-left:4px dotted #10828C;
}
.education .desc h3{
	color: #10828C;
}
.education h4{
    color:#2ab5c8;
}
.education .desc p{
	line-height:2;
	color:#888;
}
.education li
{
    font-size:14px;
}
.education img{
    position: relative;
    top:6em;
    left:7em;
    border-radius: 200px;
    height:400px;
    width: 400px;
}

/*Workexp style*/
.workexp{
	margin: 0em 0em 4em 0;
	padding: 0em;
	position: relative;
    font-family:"Acme";
}
.workexp h1{
	color:#F97300;
	margin: 2em;
}
.workexp h3{
    text-decoration: underline;
}
.workexp span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}

.workexp .desc h3{
	color: #10828C;
}
.workexp h4{
    color:#2ab5c8;
}
.workexp .desc p{
	line-height:2;
	color:#888;
}

.workexp li
{
    font-size:14px;
}
.workexp img{
    position: relative;
    top:2em;
    left:5em;
    border-radius: 200px;
    height:400px;
    width: 500px;
}
/*Skill style*/
.skills{
	margin: 0em 0em 4em 0;
	padding: 0em;
	position: relative;
    font-family:"Acme";
}
.skills h1{
	color:#F97300;
	margin: 2em;
    text-align: center;
}
.skills img{
    width:200px;
    height:200px;

}
/*Personal Projects*/
.portfolio{
    margin:4em 0;
    position: relative; 
    font-family:"Acme";
}
.portfolio h1{
    color:#F97300;
    margin: 2em; 
}
.portfolio img{
     height: 25rem;
     width: 100%;
     margin: 2em;
     
   }
.portfolio .item{
    position: relative;
    overflow:hidden;
}
.portfolio .des{
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius:99px;
    border-top-left-radius:99px;
    transition:.3s ease-in-out;
    position:relative;
    width:107%;
    font-size:20px;
    bottom: 24px;
    
   }
.portfolio img:hover{
    filter: brightness(50%);
}

.resume{
	margin: 0em 0em 4em 0;
	padding: 1em;
	position: relative;
    font-family:"Acme";
}
.resume h1{
	color:#F97300;
	margin: 2em;
    text-align: center;
}

.resume .sketchy {
    padding: 1rem 1rem;
    display: inline-block;
    border: 3px solid #333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #fff;
    position: relative;
}
.resume .sketchy::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.resume button{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
}
.resume button:hover
{
    color: black;
    background-color: #F97300;
}

   .footer-basic {
    padding:40px 0;
    background-color:rgba(249,115,0,0.90);
    color:white;
    font-family:"Acme";
    
  }
.pictures{
	margin: 0em 0em 4em 0;
	padding: 1em;
	position: relative;
    font-family:"Acme";
}
.pictures h1{
	color:#F97300;
	margin: 2em;
    text-align: center;
}
.pictures .row {
    margin: 15px;
  }
.pictures .item{
    transition: .3s ease-in-out;
}
.pictures .item:hover
{
    filter: brightness(50%);
}
.pictures img{
    border-radius: 3%;
    box-shadow: 5px 5px #F97300;
}
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
    color:black;

  }
  
  .footer-basic .copyright {
    margin-top:5px;
    text-align:center;
    font-size:13px;
    color:white;
    margin-bottom:0;
  }